.center {
	text-align: center;
}

.right {
	text-align: right;
}

.right2 {
	margin-left: 300px;
	margin-right: 20px;
}

.haba {
	margin-left: auto;
	margin-right: auto;
	width: 980px
}

.left {
	text-align: left;
}

.example2 {
	width: 220px;
}